*{
    box-sizing: boader-box;
}
body{
    font-family:'Poppins',sans-serif;
    background-color:#f5f5f5;
    margin: 0;
    padding: 0;
}
nav{
    text-align: centre
    padding: 10px;
}
nav a{
    text-decoration: none;
    color: black;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: red;
}
h1 {
    color: white;
    text-align: centre;
    padding: 20px;
}
p{ font-size: 18px;
   color:rgb(68 ,68 ,68);
   line-height:1.6;
   padding: 10px 20px;
}
.highlight{
    color: white;background: darkblue;
    padding: 10px
}
form{
    width: 300px;
    margin:20px auto;
}
input{
    width: 100%
    padding: 10px;
    margin-bottom: 10px;
}
button{
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius:8px;
}
button:hover{
    background: blue;
    cursor: pointer
}
img{
    widht: 200px;
    height: 200px;
    border-radius: 50%;
    disply: block
    margin: 20px auto;
    boader: 3px solid black;
    box-shadow: 0 4px 10px gray;
}
input:focus{
    boader: 2px solid blue;
    outline:none;
}
li:nth-child(2) {
    color:green;
    font-weight:bold;
}
header{
    background-color:#1e40af;
    color:white;
    text-allign:centre;
    padding: 20px;
}
section{
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-widht: 800px;
}
